.products-quantity {
  margin-left: 223px;
  margin-top: 42px;
  font-family: "Roboto-Light";
  font-size: 13px;
  display: flex;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
  grid-auto-rows: auto;
  margin-left: 200px;
  margin-top: -133px;
  .title {
    font-family: "Roboto-Light";
    font-size: 14px;
    color: #000;
    width: 150px;
    text-align: center;
    padding-bottom: 11px;
    position: relative;
    display: flex;
    justify-content: center;
    height: 43px;

    &:after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 2px;
      background-color: rgb(234, 191, 0);
    }
  }

  .product {
    display: grid;
    gap: 15px;
    position: relative;
    margin-top: 20px;

    &:hover {
      button {
        background-color: rgb(255, 200, 0);
      }
    }

    .shipping {
      position: absolute;
      width: 62px;
      height: 16px;
      background-color: #000;
      z-index: 2;
      right: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 8px;
        color: #fff;
        font-family: "Roboto-Light";
      }
    }
  }

  .price-container {
    display: grid;
    p {
      font-size: 11px;
      font-family: "Roboto-Light";
      display: inline;

      b {
        font-size: 18px;
        font-family: "Roboto-Bold";
        display: inline;
      }
    }

    span {
      font-size: 11px;
      font-family: "Roboto-Light";
      color: rgb(156, 155, 155);
      margin-top: -11px;
      display: inline-block;
      padding-top: 22px;

      b {
        font-size: 12px;
        font-family: "Roboto-Medium";
        color: rgb(156, 155, 155);
        display: inline-block;
      }
    }
  }

  button {
    background-color: rgb(27, 26, 32);
    color: rgb(255, 255, 255);
    margin-top: 10px;
    cursor: pointer;
    width: 170px;
    height: 40px;
    border: 0px;
    transition: background-color 0.2s ease;
  }
  img {
    height: 260px;
    object-fit: cover;
  }
  .dollar-sign {
    color: #000;
  }
}
@media (max-width: 600px) {
  .product-container {
    margin-left: 4px;
    margin-top: 52px;
    display: flex;
    flex-wrap: wrap;
  }
  .product img {
    width: 150px;
  }
  .shipping {
    right: 10px;
  }
  .products-quantity {
    position: absolute;
    top: 82px;
    left: -192px;
    font-family: "Roboto-Bold";
  }
}
